html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        block css
            link(rel="stylesheet", href="./css/custom.css")
    body
        block content
    //- block create